<nav class="navbar header">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#"><img class="" src="../assets/img/logo.png" height="30px"/></a>
    </div>
  </div>
</nav>
<div class="side-toggle">
  <div class="full-height">
    <div class="col-middle">
      <div class="toggle">
        <i class="bars fa fa-bars" aria-hidden="true"></i>
      </div>
    </div>
  </div>
  <div class="open">
    <ul class="nav">
        <li><a routerLink="/dashboard"><i class="nav_icon fa fa-home" aria-hidden="true"></i>Dashboard</a></li>
        <li><a routerLink="/weather_report"><i class="nav_icon fa fa-cloud" aria-hidden="true"></i>Weather</a></li>
        <li><a routerLink="/weather_comparison"><i class="nav_icon fa fa-bar-chart" aria-hidden="true"></i>Chart</a></li>
        <li><a routerLink="/search"><i class="nav_icon fa fa-search" aria-hidden="true"></i>Search</a></li>
        <li><a routerLink="/compare"><i class="nav_icon fa fa-clone" aria-hidden="true"></i>Compare</a></li>
      </ul>
  </div>
</div>